In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

In [2]:
df = pd.read_csv('Jan2017_to_Feb2023_data.csv', skiprows=3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243 entries, 0 to 2242
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             2243 non-null   object
 1   weathercode (wmo code)           2243 non-null   int64
 2   temperature_2m_max (°F)          2243 non-null   float64
 3   temperature_2m_min (°F)          2243 non-null   float64
 4   temperature_2m_mean (°F)         2243 non-null   float64
 5   apparent_temperature_max (°F)    2243 non-null   float64
 6   apparent_temperature_min (°F)    2243 non-null   float64
 7   apparent_temperature_mean (°F)   2243 non-null   float64
 8   sunrise (iso8601)                2243 non-null   object
 9   sunset (iso8601)                 2243 non-null   object
 10  shortwave_radiation_sum (MJ/m²)  2243 non-null   float64
 11  rain_sum (inch)                  2243 non-null   float64
 12  snowfall_sum (inch)              2243 non-null   float64
 13  windspeed_10m_max (mp/h)         2243 non-null   float64
 14  windgusts_10m_max (mp/h)         2243 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 263.0+ KB

In [3]:
df.isnull().sum()
# there are no null values, meaning that this dataset probably needs minimal processing

time                               0
weathercode (wmo code)             0
temperature_2m_max (°F)            0
temperature_2m_min (°F)            0
temperature_2m_mean (°F)           0
apparent_temperature_max (°F)      0
apparent_temperature_min (°F)      0
apparent_temperature_mean (°F)     0
sunrise (iso8601)                  0
sunset (iso8601)                   0
shortwave_radiation_sum (MJ/m²)    0
rain_sum (inch)                    0
snowfall_sum (inch)                0
windspeed_10m_max (mp/h)           0
windgusts_10m_max (mp/h)           0
dtype: int64

In [4]:
df.rename(columns={'weathercode (wmo code)': 'weathercode', 
                   'temperature_2m_max (°F)':'max_temperature', 
                   'temperature_2m_min (°F)':'min_temperature',
                   'temperature_2m_mean (°F)':'mean_temperature', 
                   'apparent_temperature_max (°F)':'max_feels_like', 
                   'apparent_temperature_min (°F)':'min_feels_like', 
                   'apparent_temperature_mean (°F)':'mean_feels_like', 
                   'sunrise (iso8601)':'sunrise_time', 
                   'sunset (iso8601)':'sunset_time', 
                   'shortwave_radiation_sum (MJ/m²)':'solar_radiation_sum', 
                   'rain_sum (inch)':'total_rainfall', 
                   'snowfall_sum (inch)':'total_snowfall', 
                   'windspeed_10m_max (mp/h)':'max_windspeed', 
                   'windgusts_10m_max (mp/h)':'max_windgusts'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243 entries, 0 to 2242
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   time                 2243 non-null   object
 1   weathercode          2243 non-null   int64
 2   max_temperature      2243 non-null   float64
 3   min_temperature      2243 non-null   float64
 4   mean_temperature     2243 non-null   float64
 5   max_feels_like       2243 non-null   float64
 6   min_feels_like       2243 non-null   float64
 7   mean_feels_like      2243 non-null   float64
 8   sunrise_time         2243 non-null   object
 9   sunset_time          2243 non-null   object
 10  solar_radiation_sum  2243 non-null   float64
 11  total_rainfall       2243 non-null   float64
 12  total_snowfall       2243 non-null   float64
 13  max_windspeed        2243 non-null   float64
 14  max_windgusts        2243 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 263.0+ KB

In [5]:
df['time'] = pd.to_datetime(df['time'])
df['weathercode'] = df['weathercode'].astype('category')
df['sunrise_time'] = pd.to_datetime(df['sunrise_time'])
df['sunset_time'] = pd.to_datetime(df['sunset_time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243 entries, 0 to 2242
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   time                 2243 non-null   datetime64[ns]
 1   weathercode          2243 non-null   category
 2   max_temperature      2243 non-null   float64
 3   min_temperature      2243 non-null   float64
 4   mean_temperature     2243 non-null   float64
 5   max_feels_like       2243 non-null   float64
 6   min_feels_like       2243 non-null   float64
 7   mean_feels_like      2243 non-null   float64
 8   sunrise_time         2243 non-null   datetime64[ns]
 9   sunset_time          2243 non-null   datetime64[ns]
 10  solar_radiation_sum  2243 non-null   float64
 11  total_rainfall       2243 non-null   float64
 12  total_snowfall       2243 non-null   float64
 13  max_windspeed        2243 non-null   float64
 14  max_windgusts        2243 non-null   float64
dtypes: category(1), datetime64[ns](3), float64(11)
memory usage: 248.3 KB

In [6]:
df.head()

#TODO EXTEND THE EDA WITH MORE DATA

,time,weathercode,max_temperature,min_temperature,mean_temperature,max_feels_like,min_feels_like,mean_feels_like,sunrise_time,sunset_time,solar_radiation_sum,total_rainfall,total_snowfall,max_windspeed,max_windgusts
0,2017-01-01,3,46.6,30.0,39.7,27.2,39.2,34.1,2017-01-01 07:18:00,2017-01-01 16:41:00,9.01,0.000,0.000,11.3,23.7
1,2017-01-02,53,40.3,29.4,35.9,25.3,32.8,29.8,2017-01-02 07:18:00,2017-01-02 16:42:00,1.00,0.136,0.000,9.8,18.3
2,2017-01-03,61,43.0,39.4,41.0,31.6,38.1,34.8,2017-01-03 07:18:00,2017-01-03 16:43:00,0.83,0.379,0.000,13.6,24.8
3,2017-01-04,51,50.3,31.2,41.9,24.9,42.6,36.5,2017-01-04 07:18:00,2017-01-04 16:43:00,4.58,0.012,0.000,14.8,29.8
4,2017-01-05,71,32.7,27.5,29.7,17.0,24.0,21.1,2017-01-05 07:18:00,2017-01-05 16:44:00,6.15,0.000,0.056,12.5,24.8

In [11]:
X   = df[['weathercode', 
           'max_temperature', 
           'min_temperature',
           'mean_temperature', 
           'max_feels_like', 
           'min_feels_like', 
           'mean_feels_like', 
           'solar_radiation_sum', 
           'total_snowfall', 
           'max_windspeed', 
           'max_windgusts']] #get the input features
y   = df['total_rainfall'] #get the target TODO MAKE IT PRECIPITATION WHICH IS EQUIVALENT TO THE SUM OF TOTAL_RAINFALL AND TOTAL_SNOWFALL

X_train, X_test, y_train, y_test = train_test_split(X,              #the input features
                                                    y,              #the label
                                                    test_size=0.3,  #set aside 30% of the data as the test set
                                                    random_state=7 #reproduce the results
                                                   )

In [12]:
rf = RandomForestRegressor(random_state=7)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=7)

In [13]:
#predict the labels for the test set
y_pred   = rf.predict(X_test)

print('The predicted precipitation is: {}'.format(y_pred))

The predicted precipitation is: [0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 4.91510e-01
 2.69600e-02 1.48250e-01 0.00000e+00 0.00000e+00 2.98800e-02 0.00000e+00
 7.94100e-02 1.64740e-01 1.63600e-02 0.00000e+00 0.00000e+00 0.00000e+00
 0.00000e+00 1.81200e-02 4.32620e-01 5.15320e-01 0.00000e+00 1.31140e-01
 0.00000e+00 2.35830e-01 0.00000e+00 0.00000e+00 2.76400e-02 7.73300e-02
 1.99720e-01 2.16000e-02 1.08800e-02 2.71600e-02 0.00000e+00 0.00000e+00
 1.65870e-01 0.00000e+00 2.55420e-01 0.00000e+00 2.09490e-01 0.00000e+00
 1.81200e-02 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 2.62000e-02
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.86400e-02
 7.70530e-01 0.00000e+00 1.96000e-02 1.20870e-01 0.00000e+00 2.00000e-03
 0.00000e+00 0.00000e+00 8.84500e-02 4.97530e-01 3.72100e-02 7.64500e-02
 0.00000e+00 1.40830e-01 1.78400e-02 0.00000e+00 0.00000e+00 0.00000e+00
 1.02100e-02 1.22800e-02 1.25540e-01 0.00000e+00 1.13200e-02 1.50400e-02
 0.00000e+00 9.60000e-04 4.47950e-01 0.00000e+00 0.00000e+00 0.00000e+00
 4.63200e-01 1.07070e-01 0.00000e+00 0.00000e+00 1.19630e-01 8.42500e-02
 0.00000e+00 1.24400e-02 8.64200e-02 9.60300e-02 0.00000e+00 2.07420e-01
 0.00000e+00 0.00000e+00 2.04480e-01 0.00000e+00 0.00000e+00 2.96170e-01
 6.33350e-01 0.00000e+00 2.18680e-01 0.00000e+00 0.00000e+00 7.75400e-02
 0.00000e+00 2.07120e-01 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
 1.79200e-02 0.00000e+00 0.00000e+00 1.12540e-01 1.15903e+00 4.46160e-01
 0.00000e+00 0.00000e+00 0.00000e+00 9.19600e-02 0.00000e+00 4.97580e-01
 0.00000e+00 3.81600e-02 0.00000e+00 3.14500e-02 1.48910e+00 1.75200e-02
 2.35200e-02 0.00000e+00 1.44800e-02 0.00000e+00 0.00000e+00 4.66290e-01
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 2.11200e-02 1.12000e-03
 6.53700e-02 0.00000e+00 0.00000e+00 1.36800e-02 1.15600e-02 2.56400e-02
 0.00000e+00 0.00000e+00 1.37000e-02 1.21200e-02 3.26110e-01 0.00000e+00
 0.00000e+00 3.78350e-01 0.00000e+00 0.00000e+00 1.74000e-02 3.86870e-01
 6.13690e-01 0.00000e+00 2.59730e-01 0.00000e+00 0.00000e+00 0.00000e+00
 5.28100e-01 2.33000e-02 0.00000e+00 6.93530e-01 1.02000e-02 1.28470e-01
 0.00000e+00 5.16140e-01 0.00000e+00 1.04800e-02 0.00000e+00 8.58800e-02
 0.00000e+00 6.59360e-01 0.00000e+00 2.35140e-01 7.76800e-01 2.26400e-02
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 1.48890e-01
 5.70640e-01 3.56730e-01 0.00000e+00 0.00000e+00 7.20750e-01 0.00000e+00
 0.00000e+00 7.10830e-01 0.00000e+00 0.00000e+00 0.00000e+00 1.02044e+00
 0.00000e+00 0.00000e+00 2.14800e-02 1.33800e-01 3.59000e-03 0.00000e+00
 0.00000e+00 1.85200e-01 2.30250e-01 5.01680e-01 1.38107e+00 1.38000e-02
 0.00000e+00 4.12370e-01 2.07690e-01 2.38400e-02 0.00000e+00 0.00000e+00
 0.00000e+00 1.37600e-02 3.89720e-01 0.00000e+00 0.00000e+00 3.84010e-01
 1.26450e-01 0.00000e+00 0.00000e+00 1.20550e-01 0.00000e+00 5.13340e-01
 2.05790e-01 2.09890e-01 2.10400e-02 0.00000e+00 2.24000e-02 5.40760e-01
 4.77550e-01 0.00000e+00 0.00000e+00 0.00000e+00 2.24800e-02 6.81080e-01
 0.00000e+00 0.00000e+00 7.96000e-03 0.00000e+00 0.00000e+00 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 7.44000e-02 1.89920e-01
 5.51960e-01 5.40360e-01 2.50010e-01 1.50620e-01 0.00000e+00 1.57140e-01
 0.00000e+00 0.00000e+00 0.00000e+00 1.74400e-02 4.52060e-01 1.25600e-02
 5.58690e-01 7.88830e-01 0.00000e+00 0.00000e+00 1.02720e-01 0.00000e+00
 0.00000e+00 1.32440e-01 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
 3.01200e-02 1.56220e-01 0.00000e+00 1.19600e-02 1.49600e-02 1.77600e-02
 1.88800e-02 1.73380e-01 2.98400e-02 0.00000e+00 0.00000e+00 6.21370e-01
 0.00000e+00 3.06000e-02 2.98400e-02 0.00000e+00 0.00000e+00 0.00000e+00
 8.71670e-01 0.00000e+00 0.00000e+00 2.12440e-01 0.00000e+00 0.00000e+00
 6.30800e-02 0.00000e+00 0.00000e+00 3.13400e-02 0.00000e+00 3.83540e-01
 1.49710e-01 1.98400e-02 5.06450e-01 0.00000e+00 9.11000e-02 0.00000e+00
 1.72000e-02 1.34000e-02 1.30000e-02 0.00000e+00 0.00000e+00 8.29000e-01
 1.13010e-01 7.67900e-02 0.00000e+00 0.00000e+00 5.58720e-01 2.90660e-01
 0.00000e+00 0.00000e+00 2.30410e-01 4.46050e-01 0.00000e+00 0.00000e+00
 0.00000e+00 1.46500e-02 0.00000e+00 1.64800e-02 0.00000e+00 5.49260e-01
 8.76100e-01 0.00000e+00 7.06700e-02 6.78890e-01 0.00000e+00 0.00000e+00
 0.00000e+00 1.70400e-02 0.00000e+00 3.17200e-02 0.00000e+00 0.00000e+00
 1.25200e-02 0.00000e+00 2.53040e-01 1.92800e-02 9.14190e-01 0.00000e+00
 0.00000e+00 0.00000e+00 5.08230e-01 0.00000e+00 0.00000e+00 0.00000e+00
 0.00000e+00 0.00000e+00 7.16100e-01 0.00000e+00 1.04400e-02 6.74230e-01
 0.00000e+00 0.00000e+00 0.00000e+00 4.01080e-01 2.58400e-02 0.00000e+00
 1.72580e-01 6.89490e-01 6.00360e-01 2.72750e-01 0.00000e+00 3.13120e-01
 5.14490e-01 5.05570e-01 7.96800e-02 0.00000e+00 1.14400e-02 0.00000e+00
 3.40720e-01 1.04250e-01 0.00000e+00 0.00000e+00 0.00000e+00 5.28700e-02
 1.48800e-02 0.00000e+00 0.00000e+00 5.57180e-01 0.00000e+00 0.00000e+00
 1.77110e-01 1.32000e-03 2.12780e-01 0.00000e+00 9.12600e-02 0.00000e+00
 1.48400e-02 0.00000e+00 0.00000e+00 4.31000e-01 0.00000e+00 1.12490e-01
 2.26280e-01 1.36250e-01 0.00000e+00 2.58780e-01 1.74271e+00 9.80000e-03
 0.00000e+00 1.48800e-02 0.00000e+00 8.47800e-02 0.00000e+00 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 4.63110e-01 1.54650e-01 1.66910e-01
 4.01310e-01 0.00000e+00 7.86360e-01 0.00000e+00 1.39200e-02 4.99470e-01
 1.16880e-01 0.00000e+00 6.84200e-01 5.66110e-01 1.79200e-02 0.00000e+00
 2.05940e-01 0.00000e+00 8.04000e-03 0.00000e+00 7.85500e-02 1.76800e-02
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 2.02900e-02 0.00000e+00
 1.30400e-02 0.00000e+00 0.00000e+00 1.34000e-02 0.00000e+00 0.00000e+00
 4.15860e-01 1.54000e-02 0.00000e+00 0.00000e+00 0.00000e+00 2.26400e-02
 1.71090e-01 3.95680e-01 1.25350e-01 1.48880e-01 0.00000e+00 2.08500e-02
 0.00000e+00 2.29260e-01 1.86630e-01 0.00000e+00 0.00000e+00 9.73800e-02
 0.00000e+00 5.21530e-01 0.00000e+00 1.04400e-02 2.31510e-01 0.00000e+00
 0.00000e+00 1.15070e-01 1.00773e+00 0.00000e+00 2.44620e-01 1.69600e-02
 0.00000e+00 1.08960e-01 0.00000e+00 0.00000e+00 0.00000e+00 9.37900e-02
 6.53000e-02 0.00000e+00 0.00000e+00 1.45200e-02 0.00000e+00 2.60800e-02
 1.76400e-02 0.00000e+00 0.00000e+00 0.00000e+00 8.46900e-02 0.00000e+00
 5.27210e-01 6.45350e-01 0.00000e+00 4.08000e-03 4.03010e-01 0.00000e+00
 0.00000e+00 3.62760e-01 0.00000e+00 0.00000e+00 0.00000e+00 1.68000e-03
 0.00000e+00 0.00000e+00 0.00000e+00 1.58800e-02 7.40000e-03 8.97300e-02
 1.36400e-02 4.63180e-01 2.55020e-01 5.24270e-01 0.00000e+00 0.00000e+00
 4.20480e-01 2.28400e-02 1.78800e-02 0.00000e+00 2.21200e-02 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 8.87100e-02
 0.00000e+00 8.58500e-02 1.15470e-01 0.00000e+00 0.00000e+00 0.00000e+00
 1.48270e-01 4.23860e-01 0.00000e+00 1.82270e-01 0.00000e+00 4.04100e-02
 0.00000e+00 8.07620e-01 1.82480e-01 0.00000e+00 1.43920e-01 0.00000e+00
 0.00000e+00 7.88600e-02 7.03300e-02 2.18570e-01 0.00000e+00 0.00000e+00
 1.73600e-02 0.00000e+00 0.00000e+00 0.00000e+00 2.36260e-01 0.00000e+00
 8.75200e-01 6.16000e-03 8.70400e-02 0.00000e+00 1.92800e-02 1.08807e+00
 1.96410e-01 0.00000e+00 1.08270e-01 1.69585e+00 0.00000e+00 7.01300e-02
 7.17600e-01 0.00000e+00 0.00000e+00 1.28600e-01 2.26110e-01 1.51200e-02
 0.00000e+00 9.47000e-02 0.00000e+00 0.00000e+00 2.11800e-01 0.00000e+00
 0.00000e+00 1.60000e-02 2.22370e-01 0.00000e+00 2.60670e-01 0.00000e+00
 2.57580e-01 2.27990e-01 0.00000e+00 0.00000e+00 5.32070e-01 7.62130e-01
 5.34550e-01 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 2.25650e-01 5.11300e-02 0.00000e+00
 0.00000e+00 0.00000e+00 0.00000e+00 1.16880e-01 1.81200e-02 9.34600e-02
 0.00000e+00 1.34870e-01 0.00000e+00 0.00000e+00 1.77200e-02 0.00000e+00
 0.00000e+00 2.05200e-02 6.56800e-01 5.01060e-01 0.00000e+00 1.97290e-01
 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
 2.59200e-02 0.00000e+00 4.92000e-03 0.00000e+00 3.42760e-01 1.31600e-02
 1.14630e-01]

In [14]:
mse = mean_squared_error(y_test, y_pred)

# Evaluate the Predictions
print('The mse of the model is: {}'.format(mse))

The mse of the model is: 0.016936813582020795